.body {
  margin-top: 55px;
}

.header {
  text-align: center;
}

.subheader {
  font-size: 24px;
}

.option-section {
  margin: 20px;
}

.option-container {
  padding: 25px;
  background-color: #eee;
  border-radius: 5px;
}

li > .nav-username {
  color: #9d9d9d;
  display: block;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.score {
  font-size: 24px;
  display: inline-block;
}

.gobot {
  border-radius: 8px;
  color: white;
  flex: 1;
  text-align: center;
}

.gobot.red {
  background-color: darkred;
}

.gobot.blue {
  background-color: darkblue;
}

.gameBoardContainer {
  display: inline-block;
  position: relative;
  width: 40%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.gameBoardContainer:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.gameBoard {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    border: 1px solid black;
    background: white;
    flex: 1;
    display: flex;
}

.cell.invalid {
  background: grey;
}

.cell.spawn {
  background: lightgreen;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
