{{ if .Data.Exists }}
<div class="splash" ng-controller="GameController as game">
  <h1 class="splash-head">Round [[game.round]]</h1>
  <div class="gameBoardContainer">
    <div class="gameBoard">
      <div class="row" ng-repeat="row in game.rows track by $index">
        <div class="cell" ng-repeat="cell in row track by $index" ng-class="{gopher: cell.Bot !== null, invalid: cell.CellType == 1}">
          <img class="go-img" ng-src="[[cell.Bot.Faction == 1 ? '/img/gopher.jpg' : '/img/gopher2.jpg']]" ng-show="cell.Bot !== null"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ else }}
<div class="splash">
  <h1 class="splash-head">Game Not Found</h1>
      <p class="splash-subhead">
        ID {{ .Data.GameID }} doesn't exist
      </p>
  </div>
</div>
{{ end }}


<script>
  // This is probably (hopefully) escaped by Go's templating system
  var GameID = "{{ .Data.GameID }}";
  var replayStr = "{{ .Data.ReplayString }}";
</script>
