<h1 class="header">Welcome to Gobots</h1>
{{if not .Player}}
  <div class="row">
    <div class="col-md-6 option-section">
      <div class="option-container">
        <h2 class="subheader">If you already have an access token&hellip;</h2>
        <p>
          Enter it below to login
        </p>
        <form class="ajax-form login-form" action="/login" method="POST">
          <div class="form-group">
            <label for="accessToken">Access Token:</label><br>
            <input class="form-control" type="text" name="accessToken" placeholder="Enter your token">
          </div>
          <button type="submit" class="btn btn-default">Log In</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 option-section">
      <div class="option-container">
        <h2 class="subheader">To create a new account&hellip;</h2>
        <p>
          Enter a unique username below
        </p>
        <form class="ajax-form create-user-form" action="/createUser" method="POST">
          <div class="form-group">
            <label for="userName">Username:</label><br>
            <input class="form-control" type="text" name="userName" placeholder="Enter a unique username">
          </div>
          <button type="submit" class="btn btn-default">Create account</button>
        </form>
      </div>
    </div>
  </div>
  <p>
  </p>
{{end}}
{{ if .Data.Bots }}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="option-container">
      <h2 class="subheader">Fight Bots</h2>
      <p>Pick two bots from the list, and watch them fight it out.</p>
      <form class="pure-form fight-bot" method="POST" action="/startMatch">
          <select class="selectpicker" name="ai1">
            {{ range $bot := .Data.Bots }}
              <option value="{{ $bot.Info.ID }}">{{ $bot.Info.Name }}</option>
            {{ end }}
          </select>
          <span class="vs">vs</span>
          <select class="selectpicker" name="ai2">
            {{ range $bot := .Data.Bots }}
              <option value="{{ $bot.Info.ID }}">{{ $bot.Info.Name }}</option>
            {{ end }}
          </select>
          <button type="submit" class="fight-btn btn btn-default">Fight</button>
      </form>
    </div>
  </div>
</div>
{{ end }}
