<h1 class="header">Welcome to Gobots</h1>
{{if not .Player}}
  <div class="row">
    <div class="col-md-6 option-section">
      <div>
        <h2 class="subheader">If you already have an access token&hellip;</h2>
        <p>
          Enter it below to login
        </p>
        <form action="/createUser" method="POST">
          <div class="form-group">
            <label for="username">Username:</label><br>
            <input class="form-control" type="text" name="username" placeholder="Enter a unique username">
          </div>
          <button type="submit" class="btn btn-default">Log In</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 option-section">
      <div>
        <h2 class="subheader">To create a new account&hellip;</h2>
        <p>Enter a username below</p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  <p>
  </p>
{{end}}
<h2 class="splash-subhead">Bots Online</h2>
{{ if .Data.Bots }}
  {{ range $bot := .Data.Bots }}
    <div class="bots">{{ $bot.Info.Name }}</div>
  {{ end }}
{{ else }}
  <div>No bots are currently registered.</div>
{{ end }}
{{ if .Data.Bots }}
  <h2 class="splash-subhead">Fight Bots</h2>
  <form class="pure-form fight-bot" method="POST" action="/startMatch">
      <select name="ai1">
        {{ range $bot := .Data.Bots }}
          <option value="{{ $bot.Info.ID }}">{{ $bot.Info.Name }}</option>
        {{ end }}
      </select>
      <span class="vs">vs</span>
      <select name="ai2">
        {{ range $bot := .Data.Bots }}
          <option value="{{ $bot.Info.ID }}">{{ $bot.Info.Name }}</option>
        {{ end }}
      </select>
      <div><button type="submit" class="pure-button pure-button-primary fight-btn">Fight</button></div>
  </form>
{{ end }}
