<div class="splash">
  <h1 class="splash-head">Welcome to Gobots</h1>
  {{if not .Player}}
    <p>
      Create an account
    </p>
  {{end}}
  <h2 class="splash-subhead">Bots Online</h2>
  {{ if .Data.Bots }}
    {{ range $bot := .Data.Bots }}
      <div class="bots">{{ $bot.Info.Name }}</div>
    {{ end }}
  {{ else }}
    <div>No bots are currently registered.</div>
  {{ end }}
  {{ if .Data.Bots }}
    <h2 class="splash-subhead">Fight Bots</h2>
    <form class="pure-form fight-bot" method="POST" action="/startMatch">
        <select name="ai1">
          {{ range $bot := .Data.Bots }}
            <option value="{{ $bot.Info.ID }}">{{ $bot.Info.Name }}</option>
          {{ end }}
        </select>
        <span class="vs">vs</span>
        <select name="ai2">
          {{ range $bot := .Data.Bots }}
            <option value="{{ $bot.Info.ID }}">{{ $bot.Info.Name }}</option>
          {{ end }}
        </select>
        <div><button type="submit" class="pure-button pure-button-primary fight-btn">Fight</button></div>
    </form>
  {{ end }}
</div>
